/build/
/dist/
cmake-build-*
pylimap_build/
*.egg-info/
deps/
reference/
CLAUDE.md
.claude/

*.npy
*.png
*.pyc
*.tar
*.obj
*.pth
*.gif
*.mp4
*.h5
*.swp
*.zip
*.tar.gz
*.th
*.so
*.pt
*.pth

data
results
outputs
tmp

docs/_build

log_*.txt
log_*.md
/logs*/
global_*.md
run_*.sh
