[submodule "src/third-party/pybind11"]
	path = src/third-party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/third-party/libigl"]
	path = src/third-party/libigl
	url = https://github.com/libigl/libigl.git
[submodule "src/third-party/highfive"]
	path = src/third-party/highfive
	url = https://github.com/highfive-devs/highfive.git
[submodule "src/third-party/RansacLib"]
	path = src/third-party/RansacLib
	url = https://github.com/B1ueber2y/RansacLib.git
