[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "third-party/Hierarchical-Localization"]
	path = third-party/Hierarchical-Localization
	url = git@github.com:cvg/Hierarchical-Localization.git
[submodule "third-party/JLinkage"]
	path = third-party/JLinkage
	url = git@github.com:B1ueber2y/JLinkage.git
[submodule "third-party/libigl"]
	path = third-party/libigl
	url = git@github.com:B1ueber2y/libigl.git
[submodule "third-party/RansacLib"]
	path = third-party/RansacLib
	url = git@github.com:B1ueber2y/RansacLib.git
    branch = header-only
[submodule "third-party/HighFive"]
	path = third-party/HighFive
	url = git@github.com:B1ueber2y/HighFive.git
[submodule "third-party/pytlsd"]
	path = third-party/pytlsd
	url = git@github.com:iago-suarez/pytlsd.git
[submodule "third-party/pytlbd"]
	path = third-party/pytlbd
	url = git@github.com:iago-suarez/pytlbd.git
[submodule "third-party/hawp"]
	path = third-party/hawp
	url = git@github.com:cherubicXN/hawp.git
	ignore = dirty
[submodule "third-party/TP-LSD"]
	path = third-party/TP-LSD
	url = git@github.com:rpautrat/TP-LSD.git
[submodule "third-party/DeepLSD"]
	path = third-party/DeepLSD
	url = git@github.com:cvg/DeepLSD.git
[submodule "third-party/GlueStick"]
	path = third-party/GlueStick
	url = git@github.com:cvg/GlueStick.git
