pyyaml
tqdm
attrdict
h5py
numpy
scipy
matplotlib
seaborn
brewer2mpl
torch==1.11.0
torchvision==0.12.0
tensorboard
tensorboardX
opencv-python
opencv-contrib-python
scikit-learn
scikit-image
kornia==0.2.0
shapely
jupyter
bresenham
pyvista
omegaconf
rtree
plyfile
pathlib
open3d
imagesize
./third-party/pytlsd
