line-length = 80

[lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]
ignore = ["E501", "F401", "F403", 
          "UP030", "B007", "E402", "E741", "B006", 
          "B008", "B028", "B904", "UP031", "E722"]

[lint.per-file-ignores]
"limap/line2d/SOLD2/model/*.py" = ["SIM"]
"limap/line2d/SOLD2/misc/*.py" = ["SIM"]
"limap/line2d/LineTR/*.py" = ["F", "SIM"]
"limap/line2d/L2D2/RAL_net_cov.py" = ["SIM"]
"limap/features/models/s2dnet.py" = ["F", "UP"]
"limap/features/models/vggnet.py" = ["F"]
"limap/estimators/absolute_pose/_pl_estimate_absolute_pose.py" = ["F"]
